*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
html, body{
    height: 100%;
    width: 100%;
}

#main
{
    height: 100%;
    width: 100%;
}

#nav{
    display: flex;
    position: fixed; 
    width:100%;               /* yha width lgana position fixed ke sath nhi to chije ider uder ho jaye gi   , vese bhi hm div ko height width dete hi h*/
    align-items: center;                      /*yh nhi likhe g to bhi chale ga*/
    justify-content: flex-end;
    padding: 30px 40px  0px 0px;
}
#nav h3{
    background-color: black;
    color: #fff;
    padding:10px 15px;
    margin-left: 5px;                         /* <-- dono m gap dene liye we use margine left*/
    font-size: 16px;
    border-radius: 40px;
}
#menu2{
    display: none;
}
#intro{
    width: 100%;
    height: 50%;
    padding: 50px 60px;
}

#intro h1{
    font-size: 110px;
    line-height: 110px;            /* do sbdo ke bich ki distance*/
    letter-spacing: -2px;
}

#address{
    margin-top:22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#address h3, #address h4{
    font-size: 23px;
    font-weight: 550;
}

#hero-image{
    width: 100%;
    height: 88%;
    background-image: url(./img.webp);
    background-size: cover;
    background-position:center;
}

#about{
    height:60%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}

#about h2{
    width: 66%;
    font-size: 68px;
    line-height: 68px;
    letter-spacing: -2px;
}

#about-part2 {
    width: 30%;
    height: 100%;
    border-left: 2px solid black;
    /* align-items: flex-start; */
    padding: 0px 60px;
    display: flex;     /* about-part2 ke elements ko display ak hi row m  ,aur element ko divide kre ga rows and columns m, 
    aur yh row ke form m divide kre dega*/

    /* lekin hm columns ke form m bhi divide kr skte h   and flex ki property ko use kr skte h joki h align-item: and justify-content:*/
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3{
    font-size: 25px;
    font-weight: 550;
}

#icons i{
    background-color: black;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    border-radius: 17px;
    margin-right: 6px;
}

#work{
    display: flex;
    border-top: 2px solid black;
    height: 53%;
    width: 100%;
    padding: 42px 42px;
}

#work1{
    display: flex;
    width: 35%;
    height: 100%;
    padding-right: 42px;
    border-right: 2px solid black;
    justify-content: space-between;
}

#work h3{
    font-size: 24px;
    font-weight:550;
}

#work1 i{
    font-size: 28px;
}

#work2{
    width: 65%;
    height: 100%;
    padding:0px 42px;
}

.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 42px 0px; */
}

.work2-part:nth-child(1)               /* is work2-part name ki class ka nthcild(1)->i.e 1 means first child if we write 2 means second child*/
{
    border-bottom: 2px solid black;
    padding-bottom:42px ;
}

.work2-part:nth-child(2)               /* is work2-part name ki class ka nthcild(1)->i.e 1 means first child if we write 2 means second child*/
{
    padding-top:42px ;
}

.work2-part .elem{
    width: 50%;
    height: 100%;
}

.work2-part .elem:nth-child(1){                               /* dono hi work2-part ke (1)child elem ko border mil jaye gi*/     /* remember space nhi dena h .elem:nth-child(1)*/
    border-right: 2px solid black;
    padding-right: 42px;
 }
 .work2-part .elem:nth-child(2)
{
    padding-left: 42px;
}
.work2-part .elem h4{
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 549.90;             /* thoda sa hi bold krna h pr nhi ho rha h */
}

.work2-part .elem p{
    font-size: 14px;
    /* font-weight: 550; */                /*h4 ki heading se thoda sa hi km fnot wight only and we give color thoda sa gray*/
    color: rgb(56, 54, 54);
}

@media (max-width:600px) {
    #nav{
        width: 100%;
        padding: 18px 10px  0px 0px;
    }
    #menu1{
        display: none;
    }
    #nav #nav1{
        padding:12px 20px;
        margin-left: 20px;                     
        font-size: 3.5vmax;
        font-weight: 400;
        border-radius: 10vmax;
    }
    #nav #menu2{
        display: block;
        font-size: 3.5vmax;
        font-weight: 400;
        padding: 12px 14px;
        border-radius: 50%;
    }
    #intro{
        width: 100%;
        height: 50%;
        padding: 60px 25px;
    }
    #intro h1{
        font-size: 70px;
        line-height: 65px;            /* do sbdo ke bich ki distance*/
        letter-spacing: -1px;
        font-weight: 480;
    }
    #address{
        margin-top: 10px;
    }
    #address h4{
        display: none;
    }
    #address h3 {
        font-size: 4.4vmax;
        margin-top: 10px;
        font-weight: 450;
    }
    #hero-image{
        width: 104.2%;
        height: 70%;
        background-image: url(./img.webp);
        background-size: cover;
        background-position:center;
        margin-top: 13vmax;
    }
    #about{
        height:70%;
        width:97%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        padding: 10px 5px;
        margin-top: 15vmax;
        gap: 43px;
        margin-left: 15px;
        border-bottom: 2px solid black;
    }  
    #about h2{
        width: 99%;
        font-size: 50px;
        line-height: 47px;
        letter-spacing: 0.4px;
        font-weight: 500;
    }
    #about-part2 {
        width: 100%;
        height: 100%;
        padding: 0px 2px;
        border: none;
        justify-content: space-evenly;
        margin-left: 2px;
        gap: 20px;
    }
    #about-part2 h3{
        font-size: 33px;
        font-weight: 500;
    }
    #icons i{
        background-color: black;
        color: #fff;
        padding: 12px;
        font-size: 28px;
        border-radius: 50%;
    }
    #work{
        width: 100%;
        display:flex;
        flex-direction: column;
        height: 100%;
        padding: 5px 15px;
        margin-top: 25px;
        border: none;
    }
    #work1{
        width: 100%;
        height: 100%;
        padding: 8px 2px 0px 10px;
        border: none;
    } 
    #work h3{
        font-size: 30px;
        font-weight:500;
    }
    #work1 i{
        font-size: 32px;
        font-weight: 500;
    }  
    #work2{
        width: 100%;
        height: 100%;
        padding:0px 10px;
    }   
    .work2-part{
        display: flex;
        flex-direction:column;
        width: 100%;
    }  
    .work2-part:nth-child(1)          
    {
        border: none;
        padding-bottom:0px ;
    }
    .work2-part:nth-child(2)        
    {
        padding-top:0px ;
    } 
    #work2 .elem{                             /*  #work2 .elem   isliye diya taki isko jayada priority mile     */
        border-bottom: 2px solid black; 
        padding-bottom: 35px;
        padding-top: 35px;
    }
    #work .elem:nth-child(3){
        border: none;
    }
    .work2-part .elem{
        width: 100%;
        height: 100%;
    }
    .work2-part .elem:nth-child(1){    
        border: none;                        
        padding-right: 0px;
     }
     .work2-part .elem:nth-child(2)
    {
        padding-left: 0px;
    }
    .work2-part .elem h4{
        font-size: 35px;
        margin-bottom: 7px;
        font-weight: 500;             /* thoda sa hi bold krna h pr nhi ho rha h */
    }
    .work2-part .elem p{
        font-size: 18px;
        /* font-weight: 550; */                /*h4 ki heading se thoda sa hi km fnot wight only and we give color thoda sa gray*/
        color: rgb(127, 113, 113);
        line-height: 25px;
        font-weight: 410;
        letter-spacing: 1px;
    }   
}


@media (max-height:600px) {
    #nav{
        width: 100%;
        padding: 18px 10px  0px 0px;
    }
    #menu1{
        display: none;
    }
    #nav #nav1{
        padding:10px 18px;
        margin-left: 20px;                     
        font-size: 3.5vmax;
        font-weight: 400;
        border-radius: 10vmax;
    }
    #nav #menu2{
        display: block;
        font-size: 3.3vmax;
        font-weight: 400;
        padding: 11px 13px;
        border-radius: 50%;
    }
    #intro{
        width: 100%;
        height: 50%;
        padding: 35px 25px;
    }
    #intro h1{
        font-size: 70px;
        line-height: 65px;            /* do sbdo ke bich ki distance*/
        letter-spacing: -1px;
        font-weight: 480;
    }
    #address{
        margin-top: 10px;
    }
    #address h4{
        display: none;
    }
    #address h3 {
        font-size: 4.2vmax;
        margin-top: 10px;
        font-weight: 450;
    }
    #hero-image{
        width: 100%;
        height: 60vmax;
        background-image: url(./img.webp);
        background-size: cover;
        background-position:center;
        margin-top: 15vmax;
    }
    #about{
        height:70%;
        width:95%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        padding: 12px 6px;
        margin-top: 27vmax;
        gap: 47px;
        margin-left: 20px;
        border-bottom: 2px solid black;
    }  
    #about h2{
        width: 99%;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 0.3px;
        font-weight: 503;
        padding-bottom: 8px;
    }
    #about-part2 {
        width: 100%;
        height: 100%;
        padding: 0px 2px;
        border: none;
        justify-content: space-evenly;
        margin-left: 5px;
        gap: 20px;
    }
    #about-part2 h3{
        font-size: 30px;
        font-weight: 500;
    }
    #icons i{
        background-color: black;
        color: #fff;
        padding: 12px;
        font-size: 25px;
        border-radius: 50%;
    }
    #work{
        width: 100%;
        display:flex;
        flex-direction: column;
        height: 100%;
        padding: 5px 15px;
        margin-top: 25px;
        border: none;
    }
    #work1{
        width: 100%;
        height: 100%;
        padding: 8px 2px 0px 10px;
        border: none;
    } 
    #work h3{
        font-size: 30px;
        font-weight:500;
    }
    #work1 i{
        font-size: 32px;
        font-weight: 500;
    }  
    #work2{
        width: 100%;
        height: 100%;
        padding:0px 10px;
    }   
    .work2-part{
        display: flex;
        flex-direction:column;
        width: 100%;
    }  
    .work2-part:nth-child(1)          
    {
        border: none;
        padding-bottom:0px ;
    }
    .work2-part:nth-child(2)        
    {
        padding-top:0px ;
    } 
    #work2 .elem{                             /*  #work2 .elem   isliye diya taki isko jayada priority mile     */
        border-bottom: 2px solid black; 
        padding-bottom: 35px;
        padding-top: 35px;
    }
    #work .elem:nth-child(3){
        border: none;
    }
    .work2-part .elem{
        width: 100%;
        height: 100%;
    }
    .work2-part .elem:nth-child(1){    
        border: none;                        
        padding-right: 0px;
     }
     .work2-part .elem:nth-child(2)
    {
        padding-left: 0px;
    }
    .work2-part .elem h4{
        font-size: 36px;
        margin-bottom: 7px;
        font-weight: 500;             /* thoda sa hi bold krna h pr nhi ho rha h */
    }
    .work2-part .elem p{
        font-size: 18px;
        /* font-weight: 550; */                /*h4 ki heading se thoda sa hi km fnot wight only and we give color thoda sa gray*/
        color: rgb(127, 113, 113);
        line-height: 26.5px;
        font-weight: 410;
        letter-spacing: 1px;
    }   
}
